<div ng-class="{'container-fluid': $root.fluid, 'container': !$root.fluid}">

  <div ng-class="{'row-fluid': $root.fluid, 'row': !$root.fluid}">

    <div class="col-md-12">
      <h1 class="page-header" translate>g.artistList</h1>
    </div>

  </div>

  <div ng-class="{'row-fluid': $root.fluid, 'row': !$root.fluid}">

    <div class="col-md-12">

      <div class="tableWrapper">
        <table class="reportTable">
          <tr>
            <th translate>g.artist</th>
            <th translate>g.count</th>
          </tr>
          <tr ng-repeat="artist in vm.artistList">
            <td>

              <a href="/search-by-artist/{{artist.artist}}"><i class="font-svg-artist"></i> {{artist.artist}}</a>
            </td>
            <td>
              {{artist.count}}
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>
