<div ng-class="{'container-fluid': $root.fluid, 'container': !$root.fluid}">

  <div ng-class="{'row-fluid': $root.fluid, 'row': !$root.fluid}">

    <div class="col-md-12">
      <h1 class="page-header" translate>g.folderAndFileTree</h1>
    </div>

  </div>

  <div ng-class="{'row-fluid': $root.fluid, 'row': !$root.fluid}">

    <div class="col-md-12">

      <div class="tableWrapper">
        <table class="reportTable">
          <tr>
            <th translate>g.tree</th>
          </tr>
          <tr>
            <td>
              <div id="jsTree"></div>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>
