<div ng-class="{'container-fluid': $root.fluid, 'container': !$root.fluid}">

  <div ng-class="{'row-fluid': $root.fluid, 'row': !$root.fluid}">

    <div class="col-md-12">
      <h1 class="page-header" translate>g.ratingList</h1>
    </div>

  </div>

  <div ng-class="{'row-fluid': $root.fluid, 'row': !$root.fluid}">

    <div class="col-md-12">

      <div class="tableWrapper">
        <table class="reportTable">
          <tr>
            <th translate>g.title</th>
            <th translate>g.artist</th>
            <th translate>g.path</th>
            <th translate>g.name</th>
            <th translate>g.rating</th>
          </tr>
          <tr ng-repeat="song in vm.titleList">
            <td>
              <a href="/song/{{song.fileid}}">
                <i class="font-svg-chords" ng-if="song.contentType == 'chord'"></i>
                <i class="font-svg-lyrics" ng-if="song.contentType == 'lyrics'"></i>
                {{song.title}}</a>
            </td>
            <td>
              <a href="/search-by-artist/{{song.artist}}"><i class="font-svg-artist"></i> {{song.artist}}</a>
            </td>
            <td>
              <a href="/browse/{{song.folderid}}"><i class="font-svg-folder"></i> {{song.path}}</a>
            </td>
            <td>
              <i class="font-svg-file"></i>
              {{song.name}}
            </td>
            <td>
              <div class="ratings"><i class="font-svg-star-full" ng-repeat="n in [] | times:song.rating"></i></div>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>
