<div ng-class="{'container-fluid': $root.fluid, 'container': !$root.fluid}">

  <div ng-class="{'row-fluid': $root.fluid, 'row': !$root.fluid}">

    <div class="col-md-12">
      <h1 class="page-header" translate>g.shortcuts</h1>
    </div>

  </div>

  <div ng-class="{'row-fluid': $root.fluid, 'row': !$root.fluid}">

    <div class="col-md-12">
      <div>
        <h3 translate>help.songView</h3>
        <ul class="help">
          <li><b>q</b> - increase song font size</li>
          <li><b>w</b> - reset song font size</li>
          <li><b>e</b> - decrease song font size</li>
          <li><b>a</b> - increase chord layer font size</li>
          <li><b>s</b> - reset chord layer font size</li>
          <li><b>d</b> - decrease chord layer font size</li>
          <li><b>c</b> - show/hide chord layer</li>
          <li><b>t</b> - scroll to song top</li>
          <li><b>b</b> - switch tab size between 4 and 8 spaces</li>
          <li><b>1, 2 3, 4, 5</b> - set rating</li>
          <li><b>0</b> - delete rating</li>
        </ul>
      </div>
    </div>
  </div>
</div>
